.min-h-full
  %nav.bg-gray-800
    .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
      .flex.items-center.justify-between.h-16
        .flex.items-center
          .flex-shrink-0
            %img.h-8.w-8{:alt => "Workflow", :src => "https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"}/
          .hidden.md:block
            .ml-10.flex.items-baseline.space-x-4
              / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
              %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Reservation
              %a.bg-gray-900.text-white.px-3.py-2.rounded-md.text-sm.font-medium{"aria-current" => "page", :href => "#"} Bookings
  %header.bg-white.shadow
    .max-w-7xl.mx-auto.py-6.px-4.sm:px-6.lg:px-8
      %h1.text-3xl.font-bold.text-gray-900 Reservation
  %main
    .max-w-7xl.mx-auto.py-6.sm:px-6.lg:px-8
      - if notice.present?
        %p{ :class => "py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block", :id => "notice" }
          = notice
      