.min-h-full
  %nav.bg-gray-800
    .max-w-8xl.mx-auto.px-4.sm:px-6.lg:px-8
      .flex.items-center.justify-between.h-16
        .flex.items-center
          .flex-shrink-0
            %img.h-8.w-8{:alt => "Workflow", :src => "https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"}/
          .hidden.md:block
            .ml-10.flex.items-baseline.space-x-4
              / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
              = link_to 'Reservation', root_path, class: "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
              = link_to 'Bookings', bookings_index_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"

  %header.bg-white.shadow
    .max-w-8xl.mx-auto.py-6.px-4.sm:px-6.lg:px-8
      %h1.text-3xl.font-bold.text-gray-900 Reservation
  %main
    .max-w-6xl.mx-auto.py-6.sm:px-6.lg:px-8
      - if @reservation.has_key?("reservation")
        = render "reservation/format1"
      - else
        = render "reservation/format2"